[2019-03-08 16:17] hasimyerlikaya opened #1 "How can i try with demo key without AWS account?"
Hi, I want to try your product. But I take an error.
I want to use any pdf link and without aws account.
How can I do this?

`
* What went wrong:
Could not resolve all files for configuration ':app:debugRuntimeClasspath'.

  Required by:
      project :app > project :pdftron_flutter

  Required by:
      project :app > project :pdftron_flutter

* Try:
Run with --stacktrace option to get the stack

[2019-03-26 01:08] sgong-pdftron commented on #1
@hasimyerlikaya Sorry for the delayed reply. The issue is likely due to missing the correct AWS credentials. You can obtain the credentials here https://www.pdftron.com/documentation/android/guides/flutter/?showkey=true

[2019-04-29 21:09] sgong-pdftron commented on #1
Closed as issue should be resolved. Re-open if the issue still persist. Thanks.

[2019-04-29 21:09] #1 closed

[2019-06-14 17:05] sgong-pdftron opened #4 "appComponentFactory AndroidManifest issue"
Link to the article: https://www.pdftron.com/documentation/android/guides/flutter/setup

Feedback: Attribute application@appComponentFactory value=(androidx.core.app.CoreComponentFactory) from [androidx.core:core:1.0.1] AndroidManifest.xml:22:18-86 is also present at [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91 value=(android.support.v4.app.CoreComponentFactory). Sugges

[2019-07-10 22:25] sgong-pdftron opened #6 "openDocument missing password argument (ios)"

[2019-08-19 06:41] binhithaui opened #8 "App large size when run command: flutter build apk"
After using the lib and developing the release, I found that the application capacity increased from ~ 9MB to ~ 85MB.
Is there any solution to this problem?
This is my gradle:app file:

apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply from: "$flutterRoot/packages/flutter_tools/gradle/flutter.gradle"

android {
    compileSdkVersion 28

    sourceSets {
        main.java

[2019-08-19 19:51] sgong-pdftron commented on #8
@binhithaui

By default PDFTron includes 5 native slices. You can reduce the number of slice included as described here:
https://www.pdftron.com/documentation/android/faq/split-apk

Could you give a try? Thanks.

[2019-08-20 06:37] binhithaui commented on #8
Thanks. I will try with build appbundle.

[2019-08-20 06:37] #8 closed

[2019-08-20 07:34] binhithaui opened #9 "Not working on ipad used ios 9.3.6"
I tried running my application on ipad ios 9.3.6 but it not working.
I received the blank screen and not show data of file.
** Data on podfile **
[code]
***************************************
** Data on dark code **
[code]

[2019-08-20 09:00] binhithaui commented on #8
I tried with build release and the results were quite good. Thanks again.
![Screen Shot 2019-08-20 at 3 48 04 PM](https://user-images.githubusercontent.com/35101462/63333397-975ace00-c363-11e9-98bb-8d430f2c8c9b.png)

[2019-09-18 20:03] dluco-pdftron commented on #9
Hi,
Are you still experiencing this issue?
Could you also let us know what type of URL you are trying to open (http://, file://, etc.), and does the issue only happen when running with iOS 9?

[2019-10-04 17:00] #6 closed

[2019-10-12 21:46] braysonjohn148 commented on #1
imported it in my pubs (pdftron_flutter=G:\\Flutter SDK\\flutter\\.pub-cache\\git\\pdftron-flutter-7580ce5b0716d4b6809b8e00a992b5f9f077326c\\) but still bring error import 'package:pdftron_flutter/pdftron_flutter.dart';

[2019-10-16 00:28] sgong-pdftron commented on #1
@braysonjohn148 could you please submit a support ticket here https://www.pdftron.com/form/request with details so we can sort out the issues? Thanks.

[2019-10-20 15:45] Neolisour commented on #4
Does anyone solve this issue?

[2019-10-21 18:53] sgong-pdftron commented on #4
@Neolisour could you submit a ticket at https://www.pdftron.com/form/report-bug so we can take a closer look? Thanks.

[2019-11-21 09:13] k3sc opened #11 "Compilation in Flutter 1.9.1+hotfix.5 environment is very slow"
Compilation in Flutter 1.9.1+hotfix.5 environment is very slow, I have been waiting for dozens of minutes and still did not run.

`
E:\Working Document\apps\office_demo>flutter run -v
[  +26 ms] executing: [E:\flutter\] git log -n 1 --pretty=format:%H
[  +94 ms] Exit code 0 from: git log -n 1 --pretty=format:%H
[   +1 ms] 1aedbb1835bd6eb44550293d57d4d124f19901f0
[        ] executing: [E:\flutter\]

[2019-12-16 14:09] bbozhidarov commented on #4
Has anyone solved that? I have the same issue. I put **tools:replace="android:appComponentFactory"** in the **AndroidManifest.xml** file and the **&lt;application&gt;** tag, but no luck. Then I get the following.

**D:\User\mobile\app\android\app\src\main\AndroidManifest.xml:22:5-54:19 Error: tools:replace specified at line:22 for attribute android:appComponentFactory, but no new value specified**

[2019-12-16 21:58] sgong-pdftron commented on #4
@bbozhidarov could you submit a ticket at https://www.pdftron.com/form/report-bug so we can take a closer look? Thanks.

[2020-04-03 09:12] xSILENCEx opened #12 "Will it support .xls files?"
When I try to open the .xls file the following error is printed:

E/@@@@@@@@@@@@@@(26094): shadow collectcollect：AppEvent
E/@@@@@@@@@@@@@@(26094): fff phone (IBinder)checkService_Method.invoke(null, name):null
E/Shadow  (26094): Can't find shadow_server
E/@@@@@@@@@@@@@@(26094): shadow mInitialized：false
I/FloatingActionButton(26094): Setting a custom background is not supported.
I/chatty  (26094):

[2020-04-06 15:47] sgong-pdftron commented on #12
@xSILENCEx XLS file format is not currently supported. It is on our road map however I do not have an exact timeline at the moment. Thanks.

We will update this ticket when XLS support is added.

[2020-04-07 15:04] ductranit opened #13 "Support to open & stream PDF from URL"
I look at [this document](https://www.pdftron.com/documentation/ios/guides/viewer/view-online-pdfs/)
and see that pdftron support to view online pdf as stream.
I'd expect this library can do lazy load several pages while keep downloading other pages.  But when I use
[code]
 to open the document, the pdf pages can be only displayed when the whole file is downloaded (there is a progress indicator wh

[2020-05-09 06:58] deepakcipl opened #14 "Open file from sd card"
Please guide how to open file form sd card?

[2020-05-11 15:31] sgong-pdftron commented on #14
1. Obtain a file content URI as described by the official guide on Storage access framework (https://developer.android.com/guide/topics/providers/document-provider) -  you might be able to look around for a third party lib that offers this in flutter
2. Pass the content URI obtained in the viewer

Could you give a try?

[2020-05-11 15:31] #14 closed

[2020-06-02 14:06] thedang opened #17 "Add function saveDocument please"
Can u have function saveDocument like react-native and cordova mobile.

https://github.com/PDFTron/pdftron-react-native#savedocument

Regards !

[2020-06-02 15:50] sgong-pdftron commented on #17
@thedang
Would it be possible if you could elaborate on your workflow and use case?
Flutter currently works slightly different compare to the other two, however there is auto save turned on by default. Thanks!

[2020-07-14 15:35] charlesarchibong opened #20 "App can't compile due to PDFTRON ERROR"
FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:processDebugResources'.

     Required by:
         project :app > project :background_fetch

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradl

[2020-07-14 16:12] sgong-pdftron commented on #20
@charlesarchibong could you try to run the sample project: https://github.com/PDFTron/pdftron-flutter/tree/master/example? Are you able to run this? Thanks.

[2020-07-15 15:19] charlesarchibong commented on #20
Yeah, I was able to fix the issue.

[2020-07-15 15:19] #20 closed

[2020-07-16 13:26] bbozhidarov opened #21 "Cannot build with PDFTron"
When I try to build a Flutter project using PDFTron, the build fails. Just yesterday I was able to do so, but after updating some packages now it fails. I tried `flutter pub cache repair`, also tried to delete .pub-cache folder, cleaned project, running `flutter pub get` again, but no success. This is the output of the console when trying to build.

[code]

This is the output of *flutter doctor --

[2020-07-16 15:33] sgong-pdftron commented on #21
@bbozhidarov sorry my bad, this is fixed now in master, could you please update and try again? Thanks!

[2020-07-17 11:30] charlesarchibong opened #22 "Document Annotations and Comments is not persisted"
When I add Annotations and Comments to a document, they are not persisted ie when the document is closed and reopen, the data are gone.

[2020-07-17 11:30] bbozhidarov commented on #21
@sgong-pdftron Yes, that solved the problem. Thanks a lot!

[2020-07-17 16:12] sgong-pdftron commented on #22
@charlesarchibong what is the file source you are using? are you opening a local file or HTTP/HTTPS?

[2020-07-17 16:12] sgong-pdftron commented on #21
@bbozhidarov Great! Thanks for confirming!

[2020-07-17 16:12] #21 closed

[2020-07-17 19:26] charlesarchibong commented on #22
https.

[2020-07-17 19:30] sgong-pdftron commented on #22
@charlesarchibong right, for HTTP/HTTPS we usually recommend having annotation saved separate from the document via import/export annotation command. Could you describe your use case and whether this will work for you? Thanks.

[2020-07-17 22:23] charlesarchibong commented on #22
How is this possible with flutter and the PDFTron library has only 2 method initial and openDocument

[2020-07-17 22:44] sgong-pdftron commented on #22
@charlesarchibong
If you update to the latest version you will see 2 new API to sync annotations and user bookmarks, as well as callback for sending info out. Could you check?

[2020-07-17 22:55] charlesarchibong commented on #22
I have seen it, please can you explain to me the whole process involve, how to persist this annotation and comments and how to retrieve it with the method please. Thank you in advance.

[2020-07-18 00:30] sgong-pdftron commented on #22
@charlesarchibong this is getting more complicated now and I need to know more about your use case. Could you please submit a support ticket here instead: https://www.pdftron.com/form/request/. I will close this issue now. And let's continue discussion with a new support ticket. Thanks!

[2020-07-18 00:30] #22 closed

[2020-07-18 09:47] charlesarchibong commented on #22
Hmmm

[2020-07-23 11:49] bbozhidarov opened #23 "Save a PDF file with the annotations and email it"
Hello, I could not find an answer to that question, so any help would be appreciated.

What I'm trying to do is the following: generate a PDF file with some data, open it with PDFTron, put some annotations and then save the file with the annotations and email it. Saving the annotations merged in a new pdf file should happen programmatically. Is that possible with the Flutter SDK.

I successfully g

[2020-07-23 19:02] sgong-pdftron commented on #23
@bbozhidarov the viewer comes with share icon that will allow you to email with the annotations already. Does that work for you? Share icon is the standard share icon that is familiar to the platform, should locate in the top toolbar. Could you try?

[2020-07-24 10:48] bbozhidarov commented on #23
@sgong-pdftron Thanks for your reply! Unfortunatelly that doesn't work for our use case. We need to email the annotated PDF programmatically. Is that possible?

[2020-07-24 16:41] sgong-pdftron commented on #23
@bbozhidarov no problem, we will be adding a new API that will save the document and return you the absolute file path, will that work for you? thanks

[2020-07-24 17:47] bbozhidarov commented on #23
Yes, that would work. Thanks a lot!

[2020-07-24 19:15] sgong-pdftron commented on #11
Unable to reproduce. Please submit a support ticket with sample project https://www.pdftron.com/form/request/. Thanks.

[2020-07-24 19:15] #11 closed

[2020-07-24 19:16] sgong-pdftron commented on #9
Information needed. Re-open when information is obtained

[2020-07-24 19:16] #9 closed

[2020-07-27 21:58] #17 closed

[2020-07-27 21:58] #23 closed

[2020-08-26 10:03] GP4cK commented on #14
Confirmed it works (on Android at least).
It's as simple as:
[code]

[2020-11-13 23:38] Maxwell-Yang-PDFTron opened #44 "multiTabEnabled"
**Describe the bug**
multiTabEnabled is included as a usable config in the API. However, there is no direct way of opening multiple documents currently. Calling openDocument multiple times seems to just add a new view on top of the old one instead of adding new tabs.

[2020-12-01 11:57] bbozhidarov opened #47 "Web/mobile annotations missmatch"
**Describe the bug**
Imported annotations mismatch for web and mobile for **.jpg** files.

**Steps to Reproduce the Problem**
1. Open a **.jpg** document in either mobile or web viewer/annotator;
2. add some annotation;
3. close the viewer/annotator;
4. open the document on both web and mobile and import the annotations;
5. the annotations mismatch.

**Expected behavior**
The annotations are suppo

[2020-12-02 14:16] bbozhidarov opened #48 "Issue with annotations import on iOS"
**Describe the bug**
So the case is such that we have web and mobile apps (Android/iOS created with Flutter) and using PDFTron. We save the files and annotations separately and need everything to be in sync. So when we load the file in the PDF Tron we then import the annotations into the document. But with iOS, there is a problem that not all annotations get imported into the viewer. Android and t

[2020-12-02 15:53] sgong-pdftron commented on #47
@bbozhidarov could you please provide the exact file and the exact XFDF string so we can investigate on our end?
Thanks.

[2020-12-02 16:41] JamesTron commented on #48
Hi @bbozhidarov - Thank you for the detailed report. Could you please share a copy of the XFDF that was used to demonstrate the issue in the screenshots?

[2020-12-03 13:24] bbozhidarov commented on #47
Yes, sure. These are not exactly the same files and annotations but the issue is the same.

[code]

![6030bf1e-93a8-4f89-a1a9-754e46856901967230253](https://user-images.githubusercontent.com/25959787/101022912-b42c0c80-357a-11eb-8606-48a3d57ea0b6.jpg)

[2020-12-03 13:53] bbozhidarov commented on #48
Hello, I don't have the exact XFDF but here is similar and the issue persists, just check with the following (bellow is the file as well):

[code]

[c4611_sample_explain.pdf](https://github.com/PDFTron/pdftron-flutter/files/5636451/c4611_sample_explain.pdf)

[2020-12-04 18:59] sgong-pdftron commented on #47
@bbozhidarov This should work with the default viewer and in my testing it works fine.
May I ask if you are changing the `ViewerConfig.Builder.conversionOptions` anywhere in your code?

[2020-12-04 19:06] sgong-pdftron commented on #47
@bbozhidarov also, on WebViewer side, do you change the `pageSize` option? If so, then the size will no longer match

[2020-12-07 13:11] bbozhidarov commented on #47
We don't set or change these properties. Is there any workaround for that?

[2020-12-07 16:16] sgong-pdftron commented on #47
@bbozhidarov as we are having difficulty reproducing this on our end, could you please kindly provide a sample project (for both web and android) so we could check what might be the problem? You can email us at support@pdftron.com. Thanks.

[2020-12-07 22:58] sgong-pdftron commented on #47
@bbozhidarov I will close this ticket here now and could you please send us a support ticket instead?
For reference, the following was our test result:

![anthony 07-Dec 02_49 PM](https://user-images.githubusercontent.com/20527369/101415367-9de4c000-389c-11eb-8629-3cc8f319ec9c.png)

![shirley 07-Dec 02_55 PM](https://user-images.githubusercontent.com/20527369/101415379-a3420a80-389c-11eb-9c72-3a0a

[2020-12-07 22:59] #47 closed

[2020-12-08 12:40] bbozhidarov commented on #47
Thank you for verifying that. I'll check on a fresh project, maybe something on our side.

[2020-12-10 18:14] JamesTron commented on #48
Thank you for the info. We were able to reproduce and fix the issue. If you update, it should now be fixed. Please be sure to call the importAnnotationCommand-s in an async manner. Please let us know how it works for you.

[2020-12-19 04:50] okpatil4u opened #57 "Desktop Support (Feature Request)"
Thanks for the amazing plugin.
Do you plan to support the desktop in upcoming releases ? Are there any technical issues preventing you from doing that ?

[2020-12-23 15:23] bbozhidarov opened #59 "Build fails on iOS after update pods"
**Describe the bug**
The build on iOS fails after updating the SDK

**Steps to Reproduce the Problem**
Update to the latest version of the SDK

**Expected behavior**
Should build the app for Android and iOS

**Platform/Device Information:**
Here's the `flutter doctor -v` output:

[code]

**Additional context**
Here are the logs from the terminal (errors close to bottom):

[code]

[2021-01-01 10:42] Fethi1 opened #60 "Edit editor text (localization)"
how can I add a translation for each text?

[2021-01-11 15:23] Leadrive commented on #57
Yes, expect desktop support!
https://flutter.dev/desktop
flutter support windows/linux/macos desktop now.

[2021-01-12 20:16] sgong-pdftron commented on #60
@Fethi1 Localization can be done as described here:
Android: https://www.pdftron.com/documentation/android/guides/faq/localization
iOS: https://www.pdftron.com/documentation/ios/guides/FAQ/localization

[2021-01-12 20:16] #60 closed

[2021-01-12 20:18] sgong-pdftron commented on #12
XLS support has been added since PDFTron v8.0.

[2021-01-12 20:18] #12 closed

[2021-01-12 20:56] JamesTron commented on #59
If you update to the latest version of Xcode, is the issue resolved?

[2021-01-12 20:58] #48 closed

[2021-01-12 21:01] JamesTron commented on #13
The viewer will stream a PDF if it has been linearized (saved for "fast web view"). You can do this using PDFTron (native) by saving a document using the `e_linearized` flag. If you open a non-linearized file, then the entire document will need to be downloaded before it can be saved.

[2021-01-12 21:01] #13 closed

[2021-01-13 12:54] bbozhidarov commented on #59
I'm updated to the latest version available for the OS that I'm running:

Mojave 10.14.6 (18G3020)
Xcode 11.3.1 (11C504)

[2021-01-13 19:52] JamesTron commented on #59
PDFTron requires the latest version of Xcode from when the release was made. In this case Xcode 11.3.1 is using version 13.3 of the iOS SDK, and the type the error message refers to was introduced in 13.4. Please update to the latest version of Xcode 12.

[2021-01-14 16:26] #59 closed

[2021-01-18 06:37] KarthikSayone opened #63 "OpenDocument as widget not working when PDFTron plugin added locally"
While trying to add api for flutter, it says to add pdftron-flutter locally. But while doing so opening a doc via widget mode doesn't work. But starting it in new View works.

Here is the code i used:

[code]

This is the same code they have used in the example provided with the flutter SDK. And it works for that example.

Below is the log when i run my code:

[code]

This code below is the log fo

[2021-01-18 18:41] Maxwell-Yang-PDFTron commented on #63
Hi KarthikSayone, are you sure you have the latest pdftron-flutter repo set up locally?  I do not think the problem should exist if that is the case. Or, alternatively, the recommended way of doing this is to add the git dependency in pubspec.yaml file, similar to the step 2 of https://www.pdftron.com/documentation/ios/get-started/flutter/#integrate. If the problem still exists, you could followup

[2021-01-18 19:19] KarthikSayone commented on #63
Like I said, I wanted to add a few api's to the flutter wrapper, so had to fork and load it locally. But let that be, even when I try with the recommended way by loading it via git, the same issue persists! Also as far as i looked its the latest version. Here is the test code that i ran `https://github.com/KarthikSayone/pdftronTest`. Also am building for android device, not iOS.
Another issue i sa

[2021-01-19 01:24] Maxwell-Yang-PDFTron commented on #63
Hi KarthikSayone, after testing using your repo, it appears that you might not have followed the step 5a in the repo (https://github.com/PDFTron/pdftron-flutter/blob/master/README.md). This step is required if you would like to use the widget version of our API. Regarding the toolbar issue, there are currently some flutter related bugs which generates 2 layers of toolbar, but hiding in general sho

[2021-01-19 04:37] KarthikSayone commented on #63
Thanks that worked! Initially when i went through the readme i didn't understand what it said, so when it said optional i skipped it through.
So regarding the toolbar issue will i 100% be able to hide it "hiding in general should be functioning"? Or will i have to wait for the bug fix, before i gave approve this for production release? And by when can i expect it to be fixed?
Also is this bug insi

[2021-01-19 04:37] #63 closed

[2021-01-22 20:18] sgong-pdftron commented on #47
@bbozhidarov I just wanted to follow up that were you able to sort this issue out?
Thanks.

[2021-02-05 15:34] bbozhidarov opened #66 "iOS build fails"
**Describe the bug**
The build fails for iOS.

[code]

**Additional context**
Here the output of `flutter doctor`:

[code]

That's how my dependencies look:
[code]

Xcode version is 12.3.
I also ran `pod update`, so I guess I'm using the newest version of the PDFTron SDK.

[2021-02-08 18:18] Maxwell-Yang-PDFTron commented on #66
Hello bbozhidarov, I failed to reproduce or see why this would happen. Could you please check whether all the [steps](https://github.com/PDFTron/pdftron-flutter#ios) (except the main.dart change) are followed in your application? Especially step 4. If everything is right, then this is unlikely an issue related to our wrapper.

[2021-02-10 15:18] bbozhidarov commented on #66
Yes, I've followed all the steps. Indeed I'm using platform '11.0', because of that message that I get when running `pod install`

`The platform of the target `Runner` (iOS 10.0) may not be compatible with `PDFNet (8.1.1.76927)` which has a minimum requirement of iOS 11.0.`

This is what my `Podfile` looks like:

[code]

I still get this error:

[code]

When I switch the platform: ios to '10.0' an

[2021-02-11 17:54] #44 closed

[2021-02-11 19:06] Maxwell-Yang-PDFTron commented on #66
Hello bbozhidarov, iOS version of '11.0' is fine. Again I cannot seem to produce the issue that you have with the podfile you provided. This is most likely not a problem with our SDK, but a general Flutter issue (https://github.com/flutter/flutter/issues/53573), and there are multiple ways to potentially work around it (open the workspace file in Xcode and build from there, create a new project an

[2021-02-15 15:52] bbozhidarov commented on #66
I was finally able to build the project. The following answer helped me ([click](https://github.com/flutter/flutter/issues/53573#issuecomment-746532273)), so I'm leaving it here, just in case someone else struggles with that.

[2021-03-04 13:25] thijskuilman commented on #57
I was wondering the same thing. Is desktop support currently something on the roadmap?

[2021-03-05 03:30] mlf2020 opened #73 "how can i remove the watermark?"
How can I remove the watermark on the doc?
[code]
this API didn't work,is there any other way?

![Snip20210305_1](https://user-images.githubusercontent.com/12659293/110063517-458f6280-7da6-11eb-9f06-88a6ba06b103.png)

[2021-03-05 15:52] sgong-pdftron commented on #73
@mlf2020 PDFTron is a commercial solution, once you obtain a valid license key (https://www.pdftron.com/form/contact-sales/), the watermark will be gone.

Could you please elaborate on exactly what "does not work" means? This will write a value to the annotations themselves.

[2021-03-06 06:25] mlf2020 commented on #73
this SDK does'nt supprot iOS10?

[2021-03-08 01:51] mlf2020 commented on #73
I have contacted sales, but i did'nt receive the license key?

[2021-03-08 16:50] JamesTron commented on #73
The latest release of PDFTron for iOS is 64-bit only, and all devices with a 64-bit chip can run iOS 11. 64-bit chips were introduced in 2013, and the vast majority of iOS users are running 64-bit hardware. Apple does not appear to issue security updates for iOS 10. Does your app have many users who are running 32-bit hardware? The next release will include 32-bit again (we had one other customer

[2021-03-16 10:14] MonipichMP opened #75 "Can not add new button to top nav like IOS/Android version?"
I want to add my custom button to the top nav bar like I ever did in iOS, but here I can't any solutions to do that even I have read all of your API documents. I hope I will get solution soon! Regards!

[2021-03-16 14:56] sgong-pdftron commented on #75
@MonipichMP do you mind share a mock up of what you are trying to achieve so we could better assist? Thanks!

[2021-03-17 01:40] MonipichMP commented on #75
@sgong-pdftron thanks for your response! Here it is my screenshot of app and the top right button "រក្សាទុក" is what I want to add there !

![photo_2021-03-17_08-37-10](https://user-images.githubusercontent.com/39157246/111401553-14932400-86fc-11eb-94c6-11ab1e39f068.jpg)

[2021-03-17 15:06] sgong-pdftron commented on #75
@MonipichMP This is not currently supported in Dart API however it is possible to achieve it by forking the repo and add it natively. Would that be an option for you? Thanks.

[2021-03-18 04:45] MonipichMP commented on #75
@sgong-pdftron It would be great if your team add it. Thanks

[2021-03-19 15:38] sgong-pdftron commented on #75
@MonipichMP This is not a trivial item to add as it replaces the entire item set of the default and replacing with special item type, i.e. text in your example, it is very custom to your application. Even if we add the ability to customize the menu items, it will be per platform norm which will be show as icons in the toolbar. So the best way would be modifying thing directly in the native code in

[2021-04-14 06:13] riyapatel56 opened #76 "I just need the code for the comments to add on pdf can anyone help please"
**Describe the bug**

**Steps to Reproduce the Problem**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Platform/Device Information (please complete the following information if applicable):**
 - Platform:[e.g. iOS or Android]
 - Device: [e.g. iPhone6, Google Pixel 4]
 - OS: [e.g. iOS8.1, Android Nougat]

**Additional context**

[2021-04-14 14:51] sgong-pdftron commented on #76
@riyapatel56 Could you please describe what you are looking for in details? With screenshot and screencast, including any relevant information that you think will help us understanding what you are looking for. Thanks.
PS please follow the issue template and fill all the information.

[2021-04-14 16:36] riyapatel56 commented on #76
I want the code of how to add comment on pdf these part is there in the pdftron, so i need the code of that for only comments

[2021-04-14 17:40] sgong-pdftron commented on #76
@riyapatel56 I don't understand your use case, please kindly provide more info so we can better assist. You can add any comments in the viewer out of box.

[2021-04-14 17:41] #73 closed

[2021-04-14 17:41] #4 closed

[2021-04-14 17:42] #66 closed

[2021-05-07 08:34] henritrees opened #82 "PDFTron as a widget expands navigation bar on Android"
When using the PDFTron Flutter library as a widget it expands the Navigation bar to compensate for the status bar or changes the System UI Overlays, I'm not 100% sure what or why it's doing. This does not happen on iOS, only affected in Android.

**Steps to Reproduce the Problem**
I created a simple example app based on the same pdftron_flutter example, which has a view where you can push a button

[2021-05-08 11:01] Jamesweng opened #85 "How to open a document with cookie authentication?"
Hi, we have document urls that authenticate requests via cookie, and only allow login users with permission to download. It looks like there's no way to set cookie to pdftron for the openDocument API? Please advice how should we handle such documents in pdftron.

Thanks!

[2021-05-11 09:23] Jamesweng commented on #85
Hi @sgong-pdftron thanks for the response!

I'm trying to use the  following code to set the cookie header for the request when loading document -

[code]

and I can see 3 requests were sent out when openDocument is called - (as following, 2 HEAD requests, 1 GET request)

![9141620724383_ pic](https://user-images.githubusercontent.com/1292516/117790664-287e8080-b27c-11eb-9861-f81d5197117e.jpg)

Fr

[2021-05-11 21:49] sgong-pdftron commented on #82
@henritrees we are able to reproduce, we will update you as soon as we have more information on this. Thanks.

[2021-05-11 23:45] sgong-pdftron commented on #82
@henritrees while we are still investigating, do you need the "AppBar" for the viewer page? removing that app bar will resolve this problem, so it's something to do with compatibility of PDFTron viewer's app bar with flutter's app bar, which likely will not be a trivial fix. Thanks.

[2021-05-13 15:23] sandspoof opened #90 "iOs build failing with the latest update"
The following build failure message was given after the latest PDFtron update and I don't know where to go fix this:

Error output from Xcode build:
↳
    ** ARCHIVE FAILED **

Xcode's output:
↳
    2 warnings generated.
    /Users/builder/programs/flutter_2_0_6/.pub-cache/git/pdftron-flutter-ba2159839871ec8ecacd7f1ce732b42a7b48318d/ios/Classes/PTFlutterDocumentController.m:94:19: warning: 'isBott

[2021-05-13 16:52] JamieDass commented on #90
Hi @sandspoof,

Are you able to tell us which version of the `pdftron-flutter` wrapper you are using?
I think if you update to a more recent version then the issue should be resolved. The latest version is v0.0.45.

To update your packages you can run `flutter packages upgrade` from inside your app directory.

[2021-05-17 11:02] sandspoof commented on #90
Hi @JamieDass

I'm not sure what version of pdftron-flutter I'm using, but my _Podfile.lock_ says 0.0.1

![image](https://user-images.githubusercontent.com/54887123/118478246-f0f65500-b70f-11eb-8857-8d46af6e1dae.png)

I only want to update that package. How am I able to do this without updating any other packages?

Thank you for the quick response.

[2021-05-17 13:17] henritrees commented on #82
@sgong-pdftron thanks for the reply. We do not need an AppBar in the PDFTron viewer page, but we need an AppBar for all of the other views we have in our application (as I would think a big majority of apps are written). Can you elaborate, based on my example how did you fix it? Because no matter how I wrap the viewer in the PDFTron widget, when I go back to the first view, my navigation bar is tw

[2021-05-17 17:34] JamieDass commented on #90
Hi @sandspoof,

The version number in the Podfile.lock is not accurate but is just due to the way flutter generates the file during integration.
You should be able to find the correct version number if you search for `pdftron_flutter` in the `pubspec.lock` file in your app's root directory.

To upgrade a specific package I believe you can run the following command:
`dart pub upgrade pdftron_flutte

[2021-05-17 19:43] sgong-pdftron commented on #82
@henritrees Thanks for the clarification. You are correct that when back to the first view, the status bar is 2x height. Would use the non-widget version be an option for you for now until this issue is resolved? It's not a trivial problem and I suspect it has something to do with https://github.com/flutter/flutter/issues/58273.

[2021-05-18 12:41] sandspoof commented on #90
Hi @JamieDass

I upgraded the pdftron_flutter version and it's currently showing version 0.0.46. I tried a build with XCode, but got an error saying _pageFitsBetweenBars is unavailable: This API is no longer available._ I see that this is being referenced in _PTFlutterDocumentController.m_ file in the pods folder.

Did my pods folder not update maybe?

[2021-05-18 17:19] JamieDass commented on #90
Hi @sandspoof,

Ah indeed it sounds like it hasn't been updated. Are you building the project from the command line with `flutter build ios --no-codesign` or directly in Xcode?
You could try going into the ios directory in your app's project folder and running `pod install`. Does that work?

[2021-05-19 18:06] sandspoof commented on #90
Hi @JamieDass

I was building directly from Xcode. Running pod install from inside the iOs directory worked at updating the pods folder.

I now just have a few deprecated packages I need to resolve before trying a build again (not pdfTron related).

Thank you for the assistance @JamieDass .

[2021-05-22 18:47] neilchaudhuri opened #95 "Dart Null Safety Upgrade"
I would like to upgrade my entire commercial Flutter app to use Dart's new null safety features, but at the moment, PDFTron is the only dependency holding me back. Is upgrading to null safety on your roadmap?

[2021-05-23 07:38] braysonjohn148 opened #96 "Light version of PDFtron"
Please create a light version of this package. My android app was 32mb now is 61mb. My iOS App was 81mb now is 106mb. There are alot of feature a light version could not use. Let the light version just preview the documents and remove the extra features.

**IT IS A FEATURE REQUEST I DONT WHY IT APPLIED A BUG LABEL ON IT**

[2021-05-25 14:32] sgong-pdftron commented on #96
It is possible to reduce size of the application:
Android: https://www.pdftron.com/documentation/android/faq/reduce-apk-size/
iOS: https://www.pdftron.com/documentation/ios/guides/FAQ/framework-size/

Is this something you are interested in trying? @braysonjohn148

[2021-05-26 16:02] sgong-pdftron commented on #95
@neilchaudhuri Thanks for bringing this to our radar. Do you mind submit a formal feature request ticket here: https://www.pdftron.com/form/request/. So we can move forward from there? Thanks!

[2021-05-26 16:26] neilchaudhuri commented on #95
@sgong-pdftron  I tried to fill out the form, but the Product dropdown has no PDF Flutter entry. Which should I use? And what should I put for Version?

[2021-05-26 16:31] sgong-pdftron commented on #95
@neilchaudhuri you can put either iOS or Android as Product, and Flutter as version

[2021-06-20 13:13] sandspoof opened #101 "iOs build failure after version update."
Hi, I've updated pdftron_flutter version from 0.0.46 to 0.0.57 and at the building stage I get this error:

_Error output from CocoaPods:
↳
    /Users/builder/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/cocoapods-1.10.1/lib/cocoapods/external_sources/podspec_source.rb:19: warning: calling URI.open via Kernel#open is deprecated, call URI.open directly or use URI#open

Error: CocoaPods's specs re

[2021-06-21 18:41] JamesTron commented on #101
Hmm, could you please try de-integrating PDFTron using cocoapod's `deintegrate` command, and then installing it again.

[2021-06-22 09:44] VrundaAgs opened #102 "Left side menu"
is this possible to shift bottom app bar menu to left side menu?

[2021-06-23 13:15] sandspoof commented on #101
Hi @JamesTron

Apologies for the late reply.

Solved it. I was trying anything and updated my flutter version from 2.0.3 to 2.2.2, and Dart version to 2.13.3, ran _pod repo update_ and then I was able to build successfully.

In conclusion, I don't know what exactly was the problem, but maybe it was just my outdated flutter/dart versions

Thank you for the response.

[2021-06-23 13:18] #101 closed

[2021-06-23 13:18] #90 closed

[2021-06-23 15:45] JamesTron commented on #101
OK, good to know, thank you for sharing your solution here!

[2021-06-23 17:49] sgong-pdftron commented on #102
@VrundaAgs If you are referring to a side panel/drawer, I would recommend building one yourself, it is not possible to make the change directly for the control itself. But it is possible ti hide the bottom bar. Thanks.

[2021-06-23 22:09] akwanpdf opened #104 "Annotation smart pen should be available (iOS)"
Currently annotation smart pen is marked as "Android only". It should be available in iOS native as well.

_Originally posted by @JamesTron in https://github.com/PDFTron/pdftron-flutter/pull/99#discussion_r657454595_

[2021-07-09 19:43] dcupidon opened #107 "`await controller.openDocument()` is not being waited on"
**Describe the bug**
Other `DocumentViewController` methods are running before `openDocument()` finishes even though the `await` keyword is being used. When debugging with Android Studio, I realized that `onTabDocumentLoaded` was not being called after `openDocument`.

**Steps to Reproduce the Problem**
1. Use `example/lib/main.dart` and uncomment the code needed to use the widget view.
2. In `onD

[2021-07-20 10:23] henritrees commented on #82
Unfortunately we can not use the non-widget version because we have implemented widgets that we need to display on top of the Pdftron widget.

[2021-09-12 11:55] Moussabaddour opened #120 "Pages Navigation"
I want to swipe the pdf pages using a commands.
I couldn’t find any thing help to move to next page , previous or jump to bookmark.
Any help !!!

[2021-09-15 22:01] sgong-pdftron commented on #120
Page navigation has been added: https://github.com/PDFTron/pdftron-flutter/pull/121

[2021-09-15 22:01] #120 closed

[2021-09-16 00:09] Moussabaddour opened #124 "Pages Navigation"
I want to swipe the pdf pages using a commands.
I couldn’t find any thing help to move to next page , previous or jump to bookmark.
Any help !!!

[2021-09-16 21:55] sgong-pdftron commented on #124
@Moussabaddour we have a number of page jumping APIs added in https://github.com/PDFTron/pdftron-flutter/pull/121, could you please try them out?

[2021-09-20 05:57] jitendrapurohit12 opened #128 "The plugin `pdftron_flutter` uses a deprecated version of the Android embedding."
pdftrom_flutter version: 1.0.0-beta.2
flutter version: 2.5

on running the app I'm getting this error:

The plugin `pdftron_flutter` uses a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if this plugin supports the Android V2 embedding. Otherwise, consider removing it since a future release of Flutter will remove these deprec

[2021-09-24 08:53] Moussabaddour commented on #124
Thank You very much I got it.
Do you have (current Page) API and (show all book mark) API?
please if you can add it.

[2021-09-24 14:52] sgong-pdftron commented on #124
@Moussabaddour

set current page:
https://github.com/PDFTron/pdftron-flutter/blob/master/API.md#setcurrentpage

show out line:
https://github.com/PDFTron/pdftron-flutter/blob/master/API.md#openoutlinelist

show user bookmarks:
https://github.com/PDFTron/pdftron-flutter/blob/master/API.md#openbookmarklist

[2021-09-24 14:53] sgong-pdftron commented on #128
Thanks for bringing this to our attention, we'll update as soon as we can.

[2021-09-24 14:55] #102 closed

[2021-09-24 14:55] #96 closed

[2021-09-24 14:55] #95 closed

[2021-09-24 14:56] #76 closed

[2021-09-24 14:56] #75 closed

[2021-09-24 22:05] Moussabaddour commented on #124
Thank you for your reply.
I saw that setcurrentpage is exist, I am asking how to get the current page number?

[2021-09-28 04:52] Moussabaddour commented on #124
I tried openBookmarkList() it is fine, but i actually need to get the bookmarks as a List<String>.

[2021-09-28 15:23] sgong-pdftron commented on #124
Hi @Moussabaddour this is not supported, could you please submit a support request with the exact description of your use cases here so we can better assist? https://www.pdftron.com/form/request/

[2021-09-29 21:17] akwanpdf commented on #104
Don't need to have issue for this.

[2021-09-29 21:17] #104 closed

[2021-10-14 22:17] akwanpdf commented on #128
Issue closed with #129

[2021-10-15 16:45] EthanBXorbix opened #137 "Config Options Ignored When Opening Doc Using Widget View"
**Describe the bug**

In the publish-prep branch, when I tried to open a document using the PDFTron Widget version of the viewer, the configs I passed into the openDocument method were ignored. When the same config options were passed into the Plugin View, they were working as expected. I first noticed this in my personal project, then confirmed the issue was also present in the sample project pro

[2021-10-25 19:40] dcupidon opened #141 "`importAnnotations` works when called before `openDocument`"
**Describe the bug**
On the branch `export-annotations-bug`, I created a two screen application: one is the Home Screen and the other renders the `DocumentView`. In the method used to control the PDFTron viewer, I included a call to `importAnnotations` before `openDocument`. I noticed the following when using the iOS plugin:

When navigating to the PDFTron viewer for the first time, the call to `i

[2021-11-19 21:29] akwanpdf opened #144 "(Android) When annot manager is enabled, undoing imported annot causes error"
**Describe the bug**
When `annotationManagerEnabled` is true, undoing or redoing an imported annotation causes an error:
[code]

**Steps to Reproduce the Problem**
1. Go to branch [`annot-manager-enabled-android-bug`](https://github.com/PDFTron/pdftron-flutter/tree/annot-manager-enabled-android-bug).
2. Open and run the example app project in Android Studio, or run from the terminal.
3. In the app

[2021-11-22 20:54] sgong-pdftron commented on #144
@akwanpdf this PR can proceed without this, as the functionality is not affected, the internal error message will be fixed in future releases

[2021-11-22 21:40] akwanpdf opened #145 "(Android) When annot manager is enabled, widget event sinks are not set"
**Describe the bug**
In the widget, when `annotationManagerEnabled` is true and `userId` is not `null`, the event sinks are never set.

**Steps to Reproduce the Problem**
1. Go to branch [`annot-manager-enabled-events`](https://github.com/PDFTron/pdftron-flutter/tree/annot-manager-enabled-events).
2. Open `example/android` in Android Studio.
3. Set breakpoints at the following lines in `FlutterDoc

[2021-11-23 19:59] akwanpdf commented on #145
Just needed to return the result! Pushed fix in [annot-manager-enabled](https://github.com/PDFTron/pdftron-flutter/commit/fd9627661153ede153e8ea3ff7c02ce76bca2b95).

[2021-11-23 19:59] #145 closed

[2021-12-01 12:40] dcupidon opened #156 "Bugs in Reflow APIs"
**Describe the bug**
I found three separate bugs:
1. Disabling images in reflow mode is not working on iOS.
2. Changing the scroll direction of reflow mode is not working on iOS.
3. Vertical scrolling is the default direction although the API documentation for both [iOS](https://www.pdftron.com/api/ios/Classes/PTReflowViewController.html#/c:objc(cs)PTReflowViewController(py)scrollingDirection) and

[2021-12-01 16:25] sgong-pdftron commented on #156
3 is a documentation error, the scroll direction should follow viewer's scroll direction, i.e. viewer is vertical then reflow is vertical, viewer is horizontal then reflow is horizontal

[2021-12-01 18:43] dcupidon commented on #156
I have created a [PR](https://github.com/PDFTron/pdftron-react-native/pull/429) that updates the React Native documentation of `reflowOrientation` and adds the iOS implementation of the prop. I can now confirm that bug 2 is present in React Native.

[2021-12-02 00:41] dcupidon commented on #156
A fix for bug 1 has been added to the native iOS library, a fix for bug 2 will come at a later date.

[2021-12-02 00:41] #156 closed

[2021-12-06 13:53] aswathinamb opened #164 "App can't compile due to NullPointerException"
1)	Clone the example project for pdftron from the below link :
https://github.com/PDFTron/pdftron-flutter/tree/master/example.
Tried compiling the above project.

**Expected results**: Should be able to view the pdf document provided in the example.

**Actual results**:
FAILURE: Build failed with an exception.

_Error in Console_:
E/MethodChannel#pdftron_flutter(26254): Failed to handle method cal

[2021-12-06 19:31] akwanpdf commented on #164
Thanks for posting. We have cloned the repo but haven't been able to replicate the issue just by running the app.

The error you posted does occur when the widget and plugin are mixed in `lib/main.dart`. For example, if you are using the plugin, all viewer methods should be called using `PdftronFlutter` instead of `controller`, otherwise that error will occur. Likewise, if you are using the widget

[2021-12-07 03:28] aswathinamb commented on #164
Did not make any additional changes to main.dart file. Below is the code snippet from the file.
 Running the below main.dart file.

`import 'dart:async';
import 'dart:io' show Platform;

import 'package:flutter/material.dart';
import 'package:flutter/services.dart';
import 'package:pdftron_flutter/pdftron_flutter.dart';
// Uncomment this if you are using local files
// import 'package:permission_h

[2021-12-07 17:49] akwanpdf commented on #164
The latest official version of [`lib/main.dart` on GitHub](https://github.com/PDFTron/pdftron-flutter/blob/master/example/lib/main.dart) has some differences from the code you pasted. For example, the official version uses:
- `class _ViewerState extends State<Viewer>` instead of `class _ViewerState extends State`
- `@override` instead of `@OverRide` (the latter causes a build error: `Error: Getter

[2021-12-08 07:18] aswathinamb commented on #164
updated the main.dart as per the same. Still facing the same issue. I have added the below dependency in the pubspec.yaml.

pdftron_flutter: ^1.0.0-beta.3

[2021-12-09 02:16] dcupidon commented on #164
After running the example app on both the latest version (`master` branch) and version 1.0.0-beta.3, we have yet to encounter the issue you are faced with. We will continue trying to reproduce the issue.

In the meantime, could you debug the example app in Android Studio. Place your breakpoint at the start of `onMethodCall()` in `PluginMethodCallHandler.java` and step through the code. If the app

[2021-12-10 21:55] akwanpdf opened #171 "[Android] long press menu is still enabled when readOnly is true"
**Describe the bug**
In Android plugin and widget, the long press menu remains enabled even when `readOnly` is true.

**Steps to Reproduce the Problem**
1. Go to `master` branch.
2. In `example/lib/main.dart`, add the following to `showViewer()`:
[code]
3. Run the Android app.
4. Long press on a blank part of the document.
5. Observe the long press menu pop up. You can click any annotation option

[2021-12-11 00:12] akwanpdf commented on #171
Update: this is related to http file.

[2021-12-11 00:54] #171 closed

[2021-12-17 17:24] ama-pdftron opened #176 "[Android] Export/Import Annotation Command does not work properly when Annotation Manager is not enabled"
**Describe the bug**
https://support.pdftron.com/a/tickets/27079

**Steps to Reproduce the Problem**
1. Use `startExportAnnotationCommandListener` and `importAnnotationCommand` in tandem
2. Duplicate annotation created (looks like another unique ID is generated instead of updating the old one)
3. Above steps do not happen when AnnotationManagerEnabled is set to true, but in theory it should work w

[2021-12-23 08:24] #124 closed

[2022-01-03 12:44] fatihergin opened #181 "Read & write a PDF file from/to memory buffer [Feature Request]"
Do you plan to support reading & writing a PDF file from/to memory buffer just like native iOS and Android do?

[2022-02-08 10:42] jitendrapurohit12 commented on #57
Any update on this, as Flutter for Windows is now stable.

[2022-02-08 11:35] jitendrapurohit12 opened #191 "App Bundle size increased by 86.2 MBs by including PDFTron"
I am using PDFTron plugin for my app and previously my app bundle size was 21.7 MBs and after inclusion of this plugin the size increased to 107.9 MBs. As I'm already using app bundles using Split APKs is of no use. I'm using latest version 1.0.0-beta.4

 - Platform: Android
 - Device: POCO F1
 - OS: Android 12

[2022-02-08 15:51] sgong-pdftron commented on #191
Hi, if you are splitting properly, you should see sizes similar to this table:
https://www.pdftron.com/documentation/android/faq/full-vs-standard/

Could you please re-visit how you are splitting the API by native architecture?
See guide here: https://www.pdftron.com/documentation/android/faq/reduce-apk-size/

Thanks.

[2022-02-08 15:51] #191 closed

[2022-02-19 08:19] alifurkanbudak opened #197 "Can't share or export the document on iOS"
**Describe the bug**
When I try to export the document to save a copy I get an error on the console saying "Could not save document for export" and the dialog that shows "Exporting" with a loading indicator stays there blocking the user to do any actions.

And when I try to share the document I get an error popup saying "Document could not be shared".

**Steps to Reproduce the Problem**
1. Open a

[2022-03-03 21:16] insinfo opened #199 "add support for flutter on windows"
add support for flutter on windows

[2022-03-04 18:43] sgong-pdftron commented on #199
closing in favor of https://github.com/PDFTron/pdftron-flutter/issues/57

[2022-03-04 18:43] #199 closed

[2022-03-10 11:40] Moussabaddour opened #203 "fillAndSign on iOS"
Hi,

I am trying to customize the pdf view and hide some no-needed tools.
All the tools can be hidden except fillAndSign.
-----
var hideDefaultAnnotationToolbars = [ DefaultToolbars.fillAndSign ];
config.hideDefaultAnnotationToolbars = hideDefaultAnnotationToolbars;
----
BR

[2022-03-10 16:46] sgong-pdftron commented on #203
Hi @Moussabaddour could you please share a complete snippet of your code, the current behaviour (as PNG) and describe the expected behaviour? Thanks.

[2022-03-10 22:49] Moussabaddour commented on #203
this is my code

<img width="281" alt="fiilAndSign" src="https://user-images.githubusercontent.com/45218852/157768001-4870997a-f0f4-4673-8c06-3833c31e304b.PNG">

[2022-03-10 22:49] Moussabaddour commented on #203
This is the output
<img width="236" alt="currentOutput" src="https://user-images.githubusercontent.com/45218852/157768069-cfc0282e-8805-446f-a898-7a976fe0de61.PNG">

[2022-03-10 22:50] Moussabaddour commented on #203
I expect the app will show only "View".....!!!!???

BR

[2022-03-10 23:42] sgong-pdftron commented on #164
closed due to inactivity

[2022-03-10 23:42] #164 closed

[2022-03-10 23:43] sgong-pdftron commented on #144
fixed

[2022-03-10 23:43] #144 closed

[2022-03-15 05:35] Moussabaddour commented on #203
The problem is only on iOS

[2022-03-15 06:16] Moussabaddour commented on #203
fixed by adding this line  to PTFlutterDocumentController.m at line 1423

PTAnnotationToolbarFillAndSign: toolGroupManager.fillAndSignItemGroup,

maybe I have old clone.

BR

[2022-03-15 06:17] #203 closed

[2022-03-23 05:34] rohitmagic10 opened #211 "Epub Support"
**Feature Request**

Can we support Epub file type please?

[2022-04-19 04:35] zhoulijun12315 commented on #82
In the latest version, the same problem exists.

[2022-04-19 15:05] sgong-pdftron commented on #82
@zhoulijun12315 would it be possible if you could provide us a sample project that can run as-is so we can take a look on our end? Thanks.

[2022-04-22 05:06] Ashrafty commented on #199
any updates on windows support yet

[2022-05-17 02:18] zhoulijun12315 commented on #82
I created a demo, you can download from here: https://github.com/zhoulijun12315/pdftron_demo

The screenshot：

1. normal
![Screenshot_1652694931](https://user-images.githubusercontent.com/751744/168714795-671664c8-0531-46d2-a03c-d4784ecd88a8.png)

2. open pdftron page as widget （status bar expand）
![Screenshot_1652694920](https://user-images.githubusercontent.com/751744/168714850-4f5938d6-f110-47c

[2022-06-03 07:12] abdulhaseeb725 opened #233 "Compile issue in android flutter"
Getting this error while trying to build android in flutter. Working fine on IOS.
* What went wrong:
Could not determine the dependencies of task ':app:processDebugResources'.

     Required by:
         project :app > project :pdftron_flutter

     Required by:
         project :app > project :pdftron_flutter

[2022-06-03 14:56] sgong-pdftron commented on #233
Hi @abdulhaseeb725 I would recommend you to try to do a clean and rebuild. From the error message it seems like the resource search path is the problem and another third party library you are using "exoplayer" somehow is identified as resource search path of PDFTron.

[2022-06-06 05:56] abdulhaseeb725 commented on #233
Yes a clean installatino solve the problem. Thanks

[2022-06-06 05:56] #233 closed

[2022-06-06 06:00] abdulhaseeb725 opened #234 "Unable to save document in flutter."
Hi, I am unable to save document in flutter after adding signature in document.Below is my code.
This is the function I called when editing is done.
Future<void> _showMyDialog() async {
    print('hello');
    initPlatformState();
    var path = await PdftronFlutter.saveDocument();
    print('hello');
    return showDialog<void>(
      context: context,
      barrierDismissible: false, // User mus

[2022-06-06 09:34] #234 closed

[2022-06-06 10:59] abdulhaseeb725 opened #235 "How to save edited document to local storage in flutter?"
I have used saveDocument() method but it's not saving. How do I saved the document after editing in to my local storage in flutter when click on leading navigation button.

[2022-06-06 22:21] sgong-pdftron commented on #211
EPUB is not supported at the moment, please reach out here: https://www.pdftron.com/form/feature-request/

[2022-06-06 22:21] #211 closed

[2022-06-06 22:24] sgong-pdftron commented on #57
Windows is not supported at the moment, please feel free to submit a feature request here https://www.pdftron.com/form/feature-request/, or custom engineering project here: https://www.pdftron.com/form/professional-services/

[2022-06-06 22:24] #57 closed

[2022-06-06 22:46] terryyoon-pdftron commented on #235
Hi there. On my end I can verify that the saveDocument function works properly. Can you confirm that the function is being called to begin with and that you're checking the correct path? If that's the case, could you provide more details as to how you're calling the saveDocument function and why you think it's not working?

[2022-06-07 03:59] abdulhaseeb725 commented on #235
It's working but the path it gives file is not there. Also I want to save the file in Downloads folder but I don't know how to give saving path to saveDocument method. Can you provide a sample code for that. I already searched through documentation but I did not find anything regarding this in FLUTTER.

[2022-06-07 21:02] terryyoon-pdftron commented on #235
The saveDocument function itself does not provide a way to specify a saving path, but you can use the [copy](https://api.flutter.dev/flutter/dart-io/File/copy.html) function in the `dart:io` library to copy the file to your desired location.

You can also utilize the [`permission_handler`](https://pub.dev/packages/permission_handler) library to make sure your app has the permission to access the l

[2022-06-08 04:19] abdulhaseeb725 commented on #235
Yes It's saving document but it is saving it in original form means I added test on pdf and then save it but when I open the file the added text was not there and the file is in original form. Can you please tell me how can I save the edited form of pdf?

[2022-06-08 09:03] abdulhaseeb725 commented on #235
Thanks it's working great. I have another query can I edit image and save it? Because it is giving error when I try to do it. So is this functionality is there?

[2022-06-23 16:52] terryyoon-pdftron commented on #82
@zhoulijun12315 A new [configuration](https://github.com/PDFTron/pdftron-flutter/blob/master/lib/config.dart#L550) has been added that can enable the viewer's full screen mode. Could you give it a try and see if this resolves the issue?

[2022-06-24 08:10] zhoulijun12315 commented on #82
hi：

I tested the fullScreenModeEnabled property and it worked.

However, the 'fullScreenModeEnabled' also hide the status bar ,  and caused the app to drop the height of the status bar.
Can add a property to control the full screen without hiding the status bar？

[2022-06-30 11:40] zararani opened #240 "main.dart not found"
main.dart file is missing

[2022-07-04 14:22] sgong-pdftron commented on #240
HI @zararani we are unsure what you mean, could you please describe in details what you are experiencing with the PDFTron flutter package? Please include steps to reproduce and a video demo. Thanks.

[2022-07-15 07:11] liveaffiliates opened #246 "Could not get unknown property 'PDFTRON_LICENSE_KEY' error on build"
**Describe the bug**
* What went wrong:

A problem occurred evaluating project ':app'.

**Steps to Reproduce the Problem**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Platform/Device Information (please complete the following information if applicable):**
Android

**Additional context**
Hi we had pdftron working fine since the

[2022-07-17 07:30] CommniaOliver opened #249 "CocoaPods could not find compatible versions for pod "PDFNet":"
[!] CocoaPods could not find compatible versions for pod "PDFNet":
      In snapshot (Podfile.lock):
        PDFNet (from `https://www.pdftron.com/downloads/ios/cocoapods/xcframeworks/pdfnet/latest.podspec`)

**Steps to Reproduce the Problem**
running "pod install"

ios

[2022-07-18 07:00] zhoulijun12315 commented on #249
i got the same issue.  @terryyoon-pdftron

[2022-07-19 00:20] ama-pdftron commented on #246
Hi @liveaffiliates

Have you followed the Android steps in our setup guide?
https://github.com/PDFTron/pdftron-flutter#android

Please be aware you still need to declare the `PDFTRON_LICENSE_KEY` properties even if you do not currently have a license key.

Thanks,
Andrew.

[2022-07-19 01:19] liveaffiliates commented on #246
@ama-pdftron

Hi Andrew, Yes we followed the guide. It was working before the latest roll out and nothing was changed. We have also found an issue in the latest ios rollout and had to rollback to previous version. Unfortunately this has not worked for android.

Thanks

Nick

[2022-07-20 03:14] #246 closed

[2022-07-21 17:19] terryyoon-pdftron commented on #249
Hey there, could you please try deleting `Pods` and `Podfile.lock`, cleaning Pod cache, and running `pod install` again?
[code]
Let us know again if the issue persists.

[2022-07-27 14:30] RatheeshSivaraman commented on #249
@terryyoon-pdftron Am facing the same issue in **flutter-ios**, when i try to install pod (pod install) in terminal, getting the below error.
**[!] The 'Pods-Runner' target has transitive dependencies that include statically linked binaries: (/Users/admin/work/project/xxxx/ios/Pods/PDFNet/Tools.xcframework)'**.
I have tried all possible cleaning (flutter clean, pod clean cache), but nothing seems

[2022-08-02 22:47] terryyoon-pdftron commented on #249
Hey, would you mind providing us with some additional information that could help us reproduce the issue? (your `pubspec.yaml` file, your CocoaPods version, etc.)

[2022-08-15 05:42] AbdulHaseeb090 opened #257 "Watermark not removing."
I have purchased the license key for Android, IOS and MAC. But even when I entered the license key it still shows watermark of pdftron. I am using pdftron_flutter (1.0.0-beta.1) version. I cannot use latest version due to some issues with other libraries in flutter.

[2022-08-15 18:36] darrenchann commented on #257
Hi @AbdulHaseeb090,

Please look into opening a support ticket as this may be a private license key matter that may be more appropriate for privacy concerns.

Refer to our contact page to open a freshdesk ticket:
https://www.pdftron.com/company/contact-us/

[2022-08-16 10:17] #257 closed

[2022-08-16 10:19] AbdulHaseeb090 opened #258 "Flutter IOS Not Working"
Getting this error when trying to run on IOS. It's working fine on Android. Using flutter.

Multiple commands produce '/Users/alishahsolanki/Library/Developer/Xcode/DerivedData/Runner-einkkqikskwpxneodaiukudrcawl/Build/Products/Debug-iphoneos/Runner.app/Frameworks/PDFNet.framework':
1) Target 'Runner' has copy command from '/Users/alishahsolanki/Downloads/liferun-flutter/ios/Framework/PDFNet.xcfra

[2022-08-16 15:10] #258 closed

[2022-08-17 16:42] AbdulHaseeb70 opened #259 "NOT WORKING ON PIXEL 4A"
Hi. I am using pdftron_flutter package it's working fine on both android and Ios devices. Bit it's not working on Google Pixel 4A. Pdf opens but I am unable to perform any action except scroll and zoom in out. Even leading navigation options doesn't work.

It's only happening on Google Pixel 4A.
- [ ] It's working fine on other android devices with android 12.

[2022-08-19 20:27] darrenchann commented on #259
Hi @AbdulHaseeb70,

I've tried replicating your issue on an emulated Pixel 4a and other devices and my physical device, however, was not able to reproduce this issue. Would you be able to provide a video and any console errors that may have come up?

Also, is this a physical or an emulated Pixel 4a device?

[2022-08-19 20:51] tapizquent opened #260 "Flutter Web Version"
Will this package work for Web projects or is it only confined to iOS and Android?

[2022-08-22 16:30] darrenchann commented on #260
Hi @tapizquent,

Our pdftron-flutter project currently supports iOS and Android mobile platforms.

[2022-08-23 07:04] AbdulHaseeb090 commented on #259
Hi, I used the exact same code example available on this repo with valid license key. Yes I used physical Pixel 4A device.

[2022-08-24 17:07] darrenchann commented on #259
In order for us to address your issue, would you be able to provide a video and code sample of your project that shows this error?

[2022-09-19 10:21] adiShinwari opened #264 "Pdftron Direct MS Office document viewing and conversion"
Hey, I am using pdftron in my project and I am new to flutter. I want to add conversion features in my app like pdf to doc and vice versa, but I am unable to find anything related to that in the documentation.

[2022-09-20 05:21] adiShinwari opened #265 "Customize UI of pdftron"
hello, can I change the default UI of pdftron? I am creating an application where I want to add my own icons and buttons etc instead of the default ones from SDK. so how can I achieve that?

[2022-09-20 05:45] adiShinwari commented on #264
Thank you @darrenchann

can't I convert the pdf to office without opening(viewing) the pdf document?

[2022-09-20 16:40] darrenchann commented on #264
Hi @adiShinwari

We can add a feature request into our backlog to add an API for PDF-to-Office conversion and update you when we have done so for you.

[2022-09-20 20:42] darrenchann commented on #265
Hi @adiShinwari

One solution for you is to first use the widget version of our application, which you can reference here in our documentation.
https://pub.dev/documentation/pdftron_flutter/latest/pdftron/DocumentView-class.html

Then when you've implemented the widget version, you can hide the top/bottom toolbars using these APIs:

https://pub.dev/documentation/pdftron_flutter/latest/pdftron/Conf

[2022-09-21 05:17] adiShinwari commented on #265
Thank you @darrenchann
yeah, I have gone through these. but can't I customize it in a way like if I want to add my own icons to the existing functionality like annotation, etc?

[2022-09-21 07:43] adiShinwari commented on #264
sorry @darrenchann
I was trying to say, that can't I convert the office (doc, Docx, pptx) to pdf without opening(viewing) the file in Viewer? I converted the doc file to pdf when the file was open in the viewer. But I want to add this functionality without opening the file.

[2022-09-21 16:25] darrenchann commented on #265
@adiShinwari, Would you be able to provide a mock-up of what customization you're wanting to achieve so we can better understand your use case?

[2022-09-21 16:29] darrenchann commented on #264
@adiShinwari
We understand, however, this functionality is not supported at the moment and we can add such API for you.

We will update you once this is ready for you to try.

[2022-09-21 16:44] adiShinwari commented on #265
Hey, @darrenchann I want some of the buttons or icons like draw, pen, and zoom in the top toolbar. I read in the documentation, that to achieve that I have to make some changes in the native code. I haven't any experience in kotlin and swift. So is there any other way?

[2022-09-21 16:47] adiShinwari commented on #264
Okay, so I want that one functionality and also if it is possible to have pdf to other office files. Like pdf to doc, etc.

[2022-09-21 16:53] sgong-pdftron commented on #265
@adiShinwari you'd want to hide all PDFTron toolbars and create your own toolbar with your own icons. Then you can use PDFTron's programmatic API when pressing on those icons such as [setToolMode](https://pub.dev/documentation/pdftron_flutter/latest/pdftron/DocumentViewController/setToolMode.html), we have many other customers had success with this, could you please give it a try? Thanks.

[2022-09-21 17:02] adiShinwari commented on #265
Thank you @sgong-pdftron
Sure, I will give it a shot. I am new to coding. So, so many questions in my mind. Btw thank you for your time.

[2022-09-21 17:36] darrenchann commented on #264
PDF to office is not supported. You can look to use our server side API for it:
https://www.pdftron.com/documentation/core/guides/features/conversion/convert-pdf-to-word/

[2022-09-22 05:56] adiShinwari commented on #264
these are in native code. How can I Implement it in flutter? Please help me with that.

[2022-09-22 16:43] sgong-pdftron commented on #264
@adiShinwari Please note that server side API means it is **not** available on our Flutter SDK, you will need to implement a **server**.

[2022-09-22 16:56] adiShinwari commented on #264
@sgong-pdftron Is there any guide or tuttorial for it. I have never done it before.

[2022-09-22 17:25] darrenchann commented on #264
@adiShinwari
All of the server side guides and samples are located at the links below:

Windows Server: https://www.pdftron.com/documentation/windows/get-started/
Linux Server: https://www.pdftron.com/documentation/linux/get-started/

[2022-09-22 17:29] adiShinwari commented on #264
@darrenchann  thank you.

[2022-09-22 17:53] #264 closed

[2022-10-07 06:10] adiShinwari commented on #82
hey @zhoulijun12315
Did you solve it?

[2022-10-19 17:19] #260 closed

[2022-10-19 17:19] #259 closed

[2022-10-19 17:19] #240 closed

[2022-10-19 17:21] #249 closed

[2022-10-20 16:38] #235 closed

[2022-10-20 23:42] tapizquent commented on #260
Has this been added for web?

[2022-11-15 02:49] ramsmart-inno opened #275 "Not able to save a copy of a document from "Save a Copy" option."
Save as PDF will work in the Print option. But it does not save a copy option is not working.

[2022-11-15 18:40] darrenchann commented on #275
Hi @ramsmart-inno

I was not able to reproduce any issue with our "save a copy" tool in our flutter sample.

Please look to this device path if you're running our app in the emulator to see your saved copies:
/data/data/com.pdftron.pdftronflutterexample/files/recently_used_cache

I confirmed the changes by saving the copy over and over and seeing the viewer refresh and open the copy after it was o

[2022-11-16 02:58] ramsmart-inno commented on #275
Using sample project which get from git.
How to save the pdf in local storage in downloads or custom path from "save a copy".
I don't want to save a cache.
And how can add qr code in pdf automatically.

check the below images.

![WhatsApp Image 2022-11-16 at 8 27 18 AM](https://user-images.githubusercontent.com/72604311/202072685-7b23a4b3-03ef-43e9-b4a9-26eede06d4eb.jpeg)
![WhatsApp Image 2022-11-

[2022-11-16 22:17] Tyler-Gordon commented on #275
Hello @ramsmart-inno,

Can you please open a support ticket here: https://www.pdftron.com/form/trial-support/ so we can better assist you with this issue.

[2022-11-16 22:17] #275 closed

[2022-11-23 11:14] leo-neon opened #276 "PageViewMode and FitMode Adjustments after Document is opened"
BUG / MISSING FUNCTIONALITY
Currently, you can just pass the PageViewMode and FitMode to the config at the beginning. You cannot manipulate them after document is opened.

EXPECTED
It would be very nice to have some functions on the DocumentViewController like setPageViewMode() or setFitMode() to adjust these things in advance.

ADDITIONAL CONTEXT
For example, I have an orientation listener and I

[2022-11-24 01:00] ama-pdftron commented on #276
Hello leo-neon,

Thanks for the feedback! We have added this to our backlog as a feature request.

[2022-11-28 12:05] leo-neon opened #280 "Transitive dependencies for pods"
DESCRIPTION:
For the PDFTron integration on iOS we need to add some pods to the Podfile.

[code]

I get the following error for a **pod install**:
[!] The 'Pods-Runner' target has transitive dependencies that include statically linked binaries: (...../ios/Pods/PDFTron/PDFNet.xcframework)

I know from other sources, that you need to remove the line
`use_frameworks!`
in order to make the pod install

[2022-11-28 18:19] Tyler-Gordon commented on #280
Hello leo-neon,
I found a very similar issue with a fix here: https://stackoverflow.com/a/52381474

Let us know if this works for you

[2022-11-29 08:12] leo-neon commented on #280
Hi Tyler,
thanks for giving me this idea again. I actually tried it before and added `s.static_framework = true` to the pdftron_flutter.podspec. After a pod install, the Xcode build succeeded but the app crashed instantly after launch.

What I did this time is to deintegrate all pods before, so that everything gets reinstalled. Totally forgot about that and now it works👍

Thank you

[2022-11-29 08:12] #280 closed

[2022-11-29 10:10] leo-neon commented on #280
Alright, maybe this helps some people with the same problem. After my fix, I also tried to run the app in release mode. Didn't work and I got no logs in the Flutter Debugger. Running it in Xcode again, it showed me the error logs which I mentioned earlier. Some "library is not loaded" and the logs were concerning the PDFNet.framework.

I'm not quite sure, whether the following did the trick, but I